{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": ["react", "jsdoc"],
    "rules": {
        "no-unused-vars": "warn",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-uses-react": "off",
        "react/jsx-uses-vars": "warn",
        "no-console": "off",
        "eqeqeq": ["error", "always"],
        "jsdoc/check-tag-names": "error",
        "jsdoc/check-types": "error"
    },
    "overrides": [
        {
            "files": ["frontend/src/generated/*.js"],
            "rules": {
                "jsdoc/check-tag-names": ["error", { "definedTags": ["enhanceable", "suppress"] }]
            },
            "settings": {
                "jsdoc": {
                    "tagNamePreference": {
                        "file": "fileoverview"
                    }
                }
            }
        }
    ],
    "ignorePatterns": ["frontend/src/shadcn/**/*", "frontend/src/protobuf-javascript/**/*.js"],
    "globals": {
        "React": "writable"
    }
}
